<p id="notice"><%= notice %></p>
<%= @event.host.name %><br>
<%= @event.name %><br>
<%= @event.description %><br>
<%= @event.time %><br>
<%= @event.date %><br>

<div>
  <% @event.rsvps.each do |rsvp| %>
    <% if rsvp.attendee.name == current_user.name %>
      <p>You are going to this Event</p>
    <% else %>
      <p><%= rsvp.attendee.name %> is going to this event</p>
    <% end %>
  <% end %>
</div>

<% if current_user.id == @event.host.id %>
  <%= link_to 'Edit', edit_event_path(@event) %>   
<% end %>
  <%= link_to 'Back', events_path %>
