<p id="notice"><%= notice %></p>
<%= @event.host.name %><br>
<%= @event.name %><br>
<%= @event.description %><br>
<%= @event.time %><br>
<%= @event.date %><br>

<div>
  
  <% @event.rsvps.each do |rsvp| %>
    <% if rsvp.attendee == current_user %>
      <p>You are going to this event</p>
    <% else %>
      <p><%= rsvp.attendee.name %> is going to this event</p>
    <% end %>
  <% end %>
</div>

<div>
  <% if (@event.rsvps.map { |user| user.user_id } ).include?(current_user.id) %>
    <%= link_to 'Review my Rsvps', rsvps_path %>
  <% else %> 
    <%= render 'rsvp' %>
  <% end %> 
</div>

<% if current_user.id == @event.host.id %>
  <%= link_to 'Edit', edit_event_path(@event) %>   
<% end %>
  <%= link_to 'Back', events_path %>
