
<%= simple_form_for [@event, Rsvp.create] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <ul>
    <% @rsvp.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


