 <p id="notice"><%= notice %></p>

<h1><%= current_user.name %></h1>
<%= @user.name %>
<%= @user.email %>
 <%= link_to "edit my details", edit_user_registration_path %>
<%= link_to 'Back', rsvps_path %>